.backgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center calc(var(--base-offset, 0%) + var(--parallax-offset, 0px));
  background-repeat: no-repeat;


  filter: blur(var(--blur-amount, 0px)) brightness(var(--brightness, 1));
  transition:
    filter 0.1s linear,
    background-position 0.1s ease-out;

  z-index: -1;
  pointer-events: none;
}
