.galleryContainer {
  width: 90vw;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-bottom: 5%;
    margin-top: -2%;
}

/* --- GRADE DE MINIATURAS --- */
.galleryGrid {
  display: flex;             
  flex-wrap: wrap;           
  gap: 1vw;
  width: 100%;
  justify-content:last baseline;   
  align-items: flex-start;
}

.thumbWrapper {
  height: 40vh;        
    
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  background-color: black;
}

.thumbnail {
  height: 100%;               /* 👈 força mesma altura */
  width: auto;                /* 👈 mantém proporção original */
  object-fit: contain;
  filter: brightness(0.9);
  transition: all 0.1s ease;
}




.thumbWrapper:hover .thumbnail {
  border: solid var(--color-primary) 5px;
  border-radius: 11px;
 
  filter: brightness(1);
 
}
