.backgroundConteiner {
  position: relative;
  min-height: 200vh;
  background-color: var(--color-secondary);
 z-index: -99;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;

}



.container {
  position: absolute;
  width: 100vw;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

}
.containerBg{
   clip-path: polygon(0 13%, 100% 12%, 100% 100%, 0% 100%);
    background-color: var(--color-bg);
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
    
}
.subTitle {
  position: absolute;
  margin-top: 33vh;
  margin-left: 55vw;
  padding-left: 10%;
  font-size: 5vh;
  transform: rotate(13.3deg);
  width: 45vw;

  border-color: rgb(214, 211, 209);
  border-width: 0 0 0.3vw 0;
  border-style: solid; 

  color: var(--color-primary);
  z-index: 1;
  
  text-transform: uppercase;
  letter-spacing: 0.1vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);


  line-height: 0.4;       
  display: inline-block;  
  padding-bottom: 0.2em;  
   animation: subtitleApear 0.5s ease-out forwards;

   cursor:default;
}

.MainTitle {
    position: absolute;

  padding-left: 5vw;

  font-size: 20vh;
  transform: rotate(0deg);
  width: 105vw;

  border-color:  rgb(214, 211, 209);
  border-width: 0 0 0.3vw 0;
  border-style: solid; 

  color: var(--color-primary);
  z-index: 2;
  
  text-transform: uppercase;
  letter-spacing: 0.1vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);


  line-height: 0.4;    
  display: inline-block;  
  padding-bottom: 0.2em;  
  animation: titleApear 0.5s ease-out forwards;

  cursor:default;
}





.Main{
  position: absolute;
  margin: 0;
  margin-top: 50vh;
  
  padding: 1%;
  width: 100vw;
  z-index: 2;

 background-color: var(--color-bg);

}

@keyframes titleApear{
  0% {
  margin-top: 10vh;  
  margin-left: -100vw;
  
      letter-spacing: -20vh;

  }
  50% {
     margin-top: 10vh;
  margin-left: -5vw;
  padding-left: 5vw;
      letter-spacing: 1vh;

  }
  100% {
     margin-top: 10vh;
  margin-left: -5vw;
  padding-left: 5vw;
   letter-spacing: 0.1vh;
  }
}

@keyframes subtitleApear{
  0% {
  margin-top: 50vh;
  margin-left: 100vw;
      letter-spacing: 20vh;

  }
  50% {
      margin-top: 30vh;
  margin-left: 55vw;
      letter-spacing: 1vh;

  }
  100% {
      margin-top: 30vh;
  margin-left: 55vw;
   letter-spacing: 0.1vh;
  }
}